<h3>Welcome, {{user.username}}!</h3>
<h4>Here is your To Do List:</h4>

<ul>
    {% for task in tasks %}
    <li>
        <p> {{task.title}}: {{task.description}}</p>
        {% if task.configurable.configurable_type %}
        <p>{{task.configurable.configurable_type|capfirst}}: {{task.configurable.configurable_value}}</p>
        {% endif %}    

    </li>    
    {% endfor %}
</ul>

{% if not tasks %}
    <div >
        No tasks have been made yet, click below to get started!
    </div>
{% endif %}

<div style="padding:1em 0em;" >
    <a href={% url 'create_task' %}>Create a New Task</a>
</div>



<div style="padding:1em 0em;">
    <form method="post" action="{% url 'logout' %}" style="display:inline;">
        {% csrf_token %}
        <button style="background:none;border:none;cursor: pointer;color:blue;text-decoration:underline;"type="submit" >Logout</button>
    </form>
</div>